<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="UTF-8"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/main.css">
	<title>Fragmentos</title>
</head>
<style>

</style>

<body>
	<!--Header user sem login -->
	<header th:fragment="cabecalholanding" class="cabecalho">
		<nav class="nav-bar">
			<div class="container-logo">
				<a th:href="@{/users/your-study}" class="navbar-brand text-light logo">Y.our Study</a>
			</div>

			<div class="nav-ink">
				<a th:href="@{/home}" class="text-light nav-itemm" href=""><i
						class="fas fa-book"></i>Conteúdos</a>
				<a class="text-light nav-itemm" th:href="@{/home/sobre-nos}"><i class="fas fa-users"></i>Quem Somos</a>
				<a class="text-light nav-itemm" href=""><i class="fas fa-envelope"></i>Fale Conosco</a>
				<a class="text-light nav-itemm" href="/" th:href="@{/login}"><i class="fas fa-user"></i>Fazer Login</a>
			</div>
		</nav>
	</header>
	<!-- header login -->
	<header th:fragment="cabecalhologin" class="cabecalho">

		<nav class="navbar nav bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand text-light">Y.our Study</a>
			</div>


		</nav>


	</header>

	<!--dizendo q esse elemento é um fragmento e dando um nome a ele -->
	<header th:fragment="cabecalho" class="cabecalho">

		<nav class="navbar nav bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand text-light">Y.our Study</a>
				<a th:href="@{/users/dashboard}" }class="react" sec:authentication="principal.username"> User</a>
			</div>


		</nav>


	</header>


	<!-- Header 2-->

	<header th:fragment="cabecalho2" class="cabecalho">

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
						aria-expanded="false" aria-controls="navbar">
						<span class="sr-only ">Toggle navigation</span> <span class="icon-bar"></span> <span
							class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" th:href="@{/}">Registration and
						Login Module</a>
				</div>
			</div>
		</nav>


	</header>

	<!-- Side bar Admin-->

	<div th:fragment="side-bar" class="side-bar bg-dark">
		<div class="menu">
			<div class="item"><a th:href="@{/admin/admin-home}"><i class="fas fa-desktop"></i>Dashboard</a></div>
			<div class="item">
				
					<a th:href="@{/admin/guia-cadastro}" class="sub-item"><i class="fas fa-book"></i>Cadastrar Guia</a>
					<a th:href="@{/admin/guia-list}" onclick="abrirPag(`backend`)" class="sub-item"><i class="fas fa-table"></i>Listar guias</a>
				
			</div>


			<div class="item">
				<a class="sub-btn"><i class="fas fa-users"></i>Usuário<i class="fas fa-angle-right dropdown"></i></a>
				<div class="sub-menu">
					<a th:href="@{/users/aluno-cadastro}" class="sub-item">Cadastrar</a>
					<a th:href="@{/admin/user-list}">Listar</a>
				</div>
			</div>


			<!--
			<div class="item">
				<a class="sub-btn"><i class="fas fa-cogs"></i>Admin<i class="fas fa-angle-right dropdown"></i></a>
				<div class="sub-menu">
					<a th:href="@{/inserirUsuarios}" class="sub-item">Cadastrar</a>
					<a th:href="@{/admin/listagem}">Lista</a>
				</div>
			</div>
			-->
		</div>
	</div>


	<!-- Side-bar Usario-->

	<div th:fragment="side-bar-user" class="side-bar bg-dark">
		<div class="menu">
			<div class="item"><a th:href="@{/users/home}"><i class="fas fa-home"></i>Inicio</a></div>
			<div class="item">
				<a th:href="@{/users/guias}" class="sub-item"><i class="fas fa-table"></i>Guias</a>
				<a th:href="@{/users/exercicios}" class="sub-item"><i class="fas fa-book"></i>Exercícios </a>
				<!--<div class="item"><a th:href="@{/users/salvos}"><i class="fas fa-save"></i>Salvos</a></div>-->
			</div>

			<!--
				<div class="item">
				<a class="sub-btn"><i class="fas fa-table"></i>Projetos<i class="fas fa-angle-right dropdown"></i></a>
				<div class="sub-menu">
					<a th:href="@{/meus-projetos}" class="sub-item">Projetos da galera</a>
					<a th:href="@{/meus-projetos}" onclick="abrirPag(`backend`)" class="sub-item">Meus projetos</a>
					<a href="#" class="sub-item">Data Science</a>
				</div>
			</div>
			
			
				<a th:href="@{/users/perfil/{username}(username=${username})}">-->


			<div class="item">
				<a th:href="@{/users/dashboard}"><i class="fas fa-user"></i>Área do usuário</a>
			</div>

			<!--<div class="item"><a href="index.html"><i class="fas fa-info-circle"></i>Sobre</a></div>-->
		</div>
	</div>


	<!-- Rodapé -->

	<footer th:fragment="rodape" class="text-center text-lg-start bg-dark text-light">
		<!-- Section: Social media -->
		<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
			<!-- Left -->
			<div class="me-5 d-none d-lg-block">
				<span>Concecte-se em nossas redes sociais:</span>
			</div>
			<!-- Left -->

			<!-- Right -->
			<div>
				<a href="" class="me-4 link-secondary">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="" class="me-4 link-secondary">
					<i class="fab fa-twitter"></i>
				</a>
				<a href="" class="me-4 link-secondary">
					<i class="fab fa-google"></i>
				</a>
				<a href="" class="me-4 link-secondary">
					<i class="fab fa-instagram"></i>
				</a>
				<a href="" class="me-4 link-secondary">
					<i class="fab fa-linkedin"></i>
				</a>
				<a href="" class="me-4 link-secondary">
					<i class="fab fa-github"></i>
				</a>
			</div>
			<!-- Right -->
		</section>
		<!-- Section: Social media -->

		<!-- Section: Links  -->
		<section>
			<div class="container text-center text-md-start mt-5">
				<!-- Grid row -->
				<div class="row mt-3">
					<!-- Grid column -->
					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
						<!-- Content -->
						<h6 class="text-uppercase fw-bold mb-4">
							<i class="fas fa-gem me-3 text-secondary"></i>Your Study
						</h6>
						<p>
							Olá! Nós somos um grupo de estudantes, que trabalhamos desenvolvendo uma aplicação para
							outros estudantes, focando sempre no aprendizado em Informática e programação.


						</p>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">Conteúdos</h6>
						<p>
							<a href="#!" class="text-reset">HTML</a>
						</p>
						<p>
							<a href="#!" class="text-reset">CSS</a>
						</p>
						<p>
							<a href="#!" class="text-reset">Java Script</a>
						</p>

					</div>
					<!-- Grid column -->

					<!-- Grid column -->

					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">Contato</h6>
						<p>
							<i class="fas fa-home me-3 text-secondary"></i> Jardim Belval - Barueri, SP

						</p>
						<p>
							<i class="fas fa-envelope me-3 text-secondary"></i>
							yourstudy@gmail.com
						</p>
						<p>
							<i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88
						</p>
						<p>
							<i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89
						</p>
					</div>
					<!-- Grid column -->
				</div>
				<!-- Grid row -->
			</div>
		</section>
		<!-- Section: Links  -->

		<!-- Copyright -->
		<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025)">
			© 2023 Your Study
			<a class="text-reset fw-bold" href="/users/home">YourStudy.com</a>
		</div>
		<!-- Copyright -->
	</footer>





	<!--<script src="assets/js/homeAdmin.js"></script> -->


	<script src="/assets/js/abrirPagina.js"></script>
	<script type="text/javascript">

		$(document).ready(function () {

			$('.sub-btn').click(function () {
				$(this).next('.sub-menu').slideToggle();
				$(this).find('.dropdown').toggleClass('rotate');
			});

			$('.menu-btn').click(function () {
				$('.side-bar').addClass('active');
				$('.menu-btn').css("visibility", "hidden");
			});

			$('.close-btn').click(function () {
				$('.side-bar').removeClass('active');
				$('.menu-btn').css("visibility", "visible");
			});

		});


	</script>

</body>

</html>