/* secao primaria */

.secao-primaria {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 500px;
  width: 100%;
  flex-wrap: wrap;
  border-radius: 10px;
    border-bottom: 1px solid #2e7bab;
}
.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.img-front {
  height: 480px;
}

.texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  height: 100%;
  width: 50%;
}

.titulo-front-end {
  font-size: 70px;
  font-weight: 700;
}

.btn-conhecer {
  width: 50%;
}

/* secao secundaria */

.secao-secundaria {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  height: 500px;
  width: 100%;
  border-radius: 10px;
    border-top: 1px solid #2e7bab;
}

.conteudos-titulo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20%;
  width: 100%;
}

.titulo-conteudos-disponiveis,
.titulo-resumo-conteudos {
  font-size: 30px;
}

/* secao-terciaria */

.secao-terciaria {
  height: 800px;
  width: 100%;
  
  border-radius: 10px;
}

.container

/* cards */

.container-cards {
  display: flex;
  gap: 40px;
  margin-top: 30px;
  width: 100%;
}

.card {
  height: 250px;
  width: 350px;
  border-top: 5px solid orangered;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
  cursor: pointer;
}

.card:hover {
  box-shadow: 10px 7px 4px 0px rgba(0, 0, 0, 0.43);
  transition: 0.3s;
}

.texto-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  height: 65%;
  width: 100%;
}

.descricao-card {
  color: rgb(196, 196, 196);
}

.container-img-card {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.img-area {
  height: 70px;
}
.border-html {
  border-top: 5px solid orangered;
}

.border-css {
  border-top: 5px solid rgb(12, 55, 173);
}

.border-js {
  border-top: 5px solid yellow;
}

/* secao 3 */

.container-escolha{
  display: flex;
  flex-direction: column;
  gap: 40px;
padding: 30px;
}

	.card-atividade-recente {
		display: flex;
		height: 220px;
		width: 80%;
		background-color: white;
	}

	.info-direita {
		display: flex;
		flex-direction: column;
		text-align: left;
		justify-content: center;
		padding: 20px;
		height: 100%;
		width: 35%;
		background-color: rgb(61, 155, 61);
		overflow: auto;
	}

  .container-tecnologias{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60%;
  }

  .img-tec{
    height: 50px;
  }

	.info-esquerda {
		display: flex;
		flex-direction: column;
		width: 65%;
		display: flex;
		justify-content: space-between;
		overflow: auto;
	}

	.info-esquerda-titulo {
		height: 90%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 20px;
	}

	.botoes {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		gap: 10px;
	}

   .botao-visualizar{
    width: 35%;
   }

footer {
  margin-top: 600px;
}

.container-funcoes {
  height: 500px;
}

.container-cards {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 80%;
  margin-top: 20px;
}
