<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="UTF-8"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/landingPageMain.css" />
  <link rel="stylesheet" href="/css/landingPage.css" />
  <title>Inicio</title>
</head>
<style></style>

<body>
  <!-- Cabecalho -->
  <header th:fragment="cabecalho2" class="cabecalho">
    <nav class="nav-bar">
      <div class="container-fluid">
        <a class="navbar-brand text-light">Y.our Study</a>
      </div>

      <div class="nav-ink">
        <a class="text-light" href="">Sobre</a>
        <a class="text-light" href="">Conteúdos</a>
        <a class="text-light" href="">Quem Somos</a>
        <a class="text-light" href="">Fale Conosco</a>
      </div>
    </nav>
  </header>

  <!-- side-bar -->

  <main class="conteudo">

    <!-- introducao -->
    <div class="conteudo-pagina container">
      <section class="secao-primaria container">
        <div class="texto">
          <h1 class="titulo-front-end text-light">Pratique programação conosco</h1>
          <h3 class="text-primary">Inicie seus estudos em Front-end com a gente</h3>
          <button class="btn btn-primary btn-conhecer">Começar</button>
        </div>

        <div class="container-img">
          <img src="/img/rocket.svg" alt="" class="img-front" />
        </div>
      </section>

      <section class="secao-secundaria container">
        <div class="texto">
          <h1 class="titulo-front-end text-primary">Sobre nós</h1>
          <h2 class="text-success">Objetivos e interesses</h2>
          <p class="descricao-front-end text-light">
            Desenvolvimento web front-end é o desenvolvimento da interface
            gráfica do usuário de um site, através do uso de HTML, CSS e
            JavaScript, para que os usuários possam visualizar e interagir com
            esse site.
          </p>
        </div>

        <div class="container-img">
           <img src="/img/sobrenos.svg" alt="" class="img-front" />
        </div>
      </section>
      <section class="secao-terciaria container">
       
        <div class="texto">
          <h1 class="titulo-front-end text-primary">Por que aprender Front-End?</h1>
          <h2 class="text-success">Desenvolva suas habilidades</h2>
          <p class="descricao-front-end text-light">
            Desenvolvimento web front-end é o desenvolvimento da interface
            gráfica do usuário de um site, através do uso de HTML, CSS e
            JavaScript, para que os usuários possam visualizar e interagir com
            esse site.
          </p>
        </div>

        <div class="container-img">
          <img src="/img/front.svg" alt="" class="img-front" />
        </div>
      </section>

      <!-- Conteudos disponiveis -->
      <section class="secao-quarta container">
        <div class="conteudos-titulo">
          <h1 class="titulo-conteudos-disponiveis text-primary">
            Conteudos disponiveis
          </h1>
          <h5 class="text-light subtitulo-conteudos">Confira os conteúdos disponiveis na plataforma</h5>
        </div>
        <div class="container-cards container">
          <div class="card -html bg-dark">
            <div class="texto-card">
              <h1 class="text-light">HTML</h1>
              <p class="descricao-card">
                Desenvolva suas habilidades e aplique seu conhecimento
              </p>
            </div>

            <div class="container-img-card">
              <img class="img-area" src="/img/html.png" alt="" />
            </div>
          </div>

          <div class="card border-css bg-dark">
            <div class="texto-card">
              <h1 class="text-light">CSS</h1>
              <p class="descricao-card">
                Desenvolva suas habilidades e aplique seu conhecimento
              </p>
            </div>

            <div class="container-img-card">
               <img class="img-area" src="/img/css.png" alt="" />
            </div>
          </div>

          <div class="card border-js bg-dark">
            <div class="texto-card">
              <h1 class="text-light">Java Script</h1>
              <p class="descricao-card">
                Desenvolva suas habilidades e aplique seu conhecimento
              </p>
            </div>

            <div class="container-img-card">
             <img class="img-area" src="/img/js.png" alt="" />
            </div>
          </div>
        </div>
      </section>

    </div>
  </main>
<div th:replace="fragmentos/fragmentos :: rodape"></div>
  <!--<script src="assets/js/homeAdmin.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="/assets/js/abrirPagina.js"></script>
  <script src="main.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $(".sub-btn").click(function () {
        $(this).next(".sub-menu").slideToggle();
        $(this).find(".dropdown").toggleClass("rotate");
      });

      $(".menu-btn").click(function () {
        $(".side-bar").addClass("active");
        $(".menu-btn").css("visibility", "hidden");
      });

      $(".close-btn").click(function () {
        $(".side-bar").removeClass("active");
        $(".menu-btn").css("visibility", "visible");
      });
    });
  </script>
</body>

</html>